@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #252525;

  --brand-primary: #7a1f3d;
  --brand-primary-dark: #5a0f2a;

  --brand-gold: #d4af37;
  --brand-gold-dark: #b38e1f;

  --brand-cream: #f8f4ee;

  --brand-muted: #6b7280;
  --brand-border: #e5e7eb;

  --lab-background: #070707;
  --lab-surface: #111111;
  --lab-surface-soft: #181818;

  --lab-gold: #d4af37;
  --lab-gold-light: #edcf73;
  --lab-gold-dark: #a88422;

  --lab-text: #ffffff;
  --lab-muted: #b8b8b8;
  --lab-border: rgba(212, 175, 55, 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}